@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root{
    --background-image: 'images/purp-bg.png';
    --logo: "images/logo.png"
    --logo-only: "images/logo_only.png"
    --btn-background-colour: #ffffff
    --btn-border-colour: #c2c5ff
}

.light-mode{
    background-image: url('images/white-bg.png');
    --logo: "images/logo(purp).png"
    --logo-only: "images/logo_only(purp).png"
    --btn-background-colour: #614d9f
    --btn-border-colour: #1a1628
}


body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;

    cursor: url('images/forg.png'), auto;
}

#purple-bg {
    background-image: url('images/purp-bg.png');
}

#white-bg {
    background-image: url('images/white-bg.png');
}

footer {
    height: 50px;
}

button {
    width: 180px;
    height: 75px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 75px;
    border-width: 5px;
    border-color: #614d9f;
    background-color: #c2c5ff;

    /*text*/
    color: #1a1628;
    font-family: 'Titan One';
    font-size: 20px;
    font-weight: 300;
}

button:hover {
    transform: scale(1.1);

    border-color: #c2c5ff;
    background-color: #ffffff;

    /*text*/
    color: #614d9f;
    font-family: 'Titan One';
    font-size: 20px;
    font-weight: 300;
}

.wide-button {
    background-color: #c2c5ff;
    border: solid;
    border-radius: 0;
    border-width: 2px;
    border-color: #1a1628;

    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: left;

    font-size: 50px;
    font-family: 'Nunito';
    font-weight: 600;
}

.wide-button:hover {
    transform: scale(1.1);

    border-color: #c2c5ff;
    background-color: #ffffff;

    /*text*/
    color: #614d9f;
    font-family: 'Nunito';
    font-size: 55px;
    font-weight:900;
}

.wide-button-O {
    background-color: #cbcbcb;
    border: solid;
    border-radius: 0;
    border-width: 2px;
    border-color: #1a1628;

    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: left;

    font-size: 50px;
    font-family: 'Nunito';
    font-weight: 600;
}

.wide-button-O:hover {
    transform: scale(1);
    background-color: #cbcbcb;
    border: solid;
    border-radius: 0;
    border-width: 2px;
    border-color: #1a1628;

    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: left;

    font-size: 50px;
    font-family: 'Nunito';
    font-weight: 600;
}

.darkmode-btn {
    background-image: url(images/buttons/sun.png);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-color: #c2c5ff;

    width: 75px;
    height: 75px;
    display: block;
    position: fixed;

    bottom: 20px;
    right: 20px;
}

.contact-button {
    display: block;
    margin: 0;
    border: none;
    border-radius: 0px;
    width: 550px;
    height: 70px;

    background-color: rgba(0,0,0,0);
    background-size: 90%;
    background-position: left;
    background-repeat: no-repeat;
}

.contact-button:hover {
    transform: scale(1.2);
    background-color: rgba(0,0,0,0);
}

#youtube-btn {
    background-image: url('images/buttons/youtube.png');
}

#itch-btn {
    background-image: url('images/buttons/itch.png');
}

#bsky-btn {
    background-image: url('images/buttons/bsky.png');
}

header {
    top: 0;
    margin-top: 0;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

header img {
    max-height: 240px;
    width: auto;
    display: block;
    margin: 0 auto 10px;
}

.logo {
    max-height: 240px;
    width: auto;
    display: block;
    margin: 0 auto 10px;
}

.title-container {
    margin: auto;
    width: 50%;
    height: 50px;
    border-radius: 75px;
    background-color: #1a1628;
    padding: 5px;

    justify-content: center;
    align-items: center;

    text-align: center;
    color: #c2c5ff;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
}

.button-container {
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
    padding: 15px;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}

.contact-card {
    background-image: url('images/contact\ card\ blank.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    align-items: flex-end;
    justify-content: flex-end;

    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    width: 120vh;
    height: 60vh;
    padding: 50px;
    border-radius: 65px;
}

.container {
    margin: 0 auto;
    display: block;
    width: 80%;
    padding: 50px;
    border-radius: 75px;
    background-color: rgba(26, 22, 40, .7);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.portfolio-grid {
    margin: 0 auto;
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5%;
    column-gap: 5%;
    align-content: center;
    margin-bottom: 5%;
}

.portfolio-btn {
    grid-area: unset;
    background-image: unset;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0px;

    margin: 0px;

    aspect-ratio: 1 / 1;
    width: 85%;
    padding-top: 85%;
}

.contact-container {

    background-color: #1a1628;

    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    width: 120vh;
    height: auto;
    padding: 50px;
    border-radius: 65px;
    gap: 20px;
    
}

.input-slot {
    width: 50%;
    margin: .5%;
    border-radius: 15px;
    border: #c2c5ff 3px solid;
    outline: none;
    padding: 5px;
    padding-left: 8px;
    

    font-family: 'Nunito';
    font-size: 20px;
    color: #614d9f;
}

.input-slot:focus {
    border: 5px solid #614d9f;
}

#work-1{
    background-image: url('images/perks-of-being-a-wallflower-thumbnail.png');
}

#work-2{
    background-image: url('images/soeur-celeste-thumbnail.png');
    background-size: contain;
}

#work-3{
    background-image: url('images/chef-saltbaker-thumbnail.png');
}

#work-4{
    background-image: url('images/nimona-thumbnail.png');
}

#work-5{
    background-image: url('images/hollow-knight-thumbnail.png');
}

#work-6{
    background-image: url('images/wall-e-thumbnail.png');
}

#work-7{
    background-image: url('images/wreck-it-relph-thumbnail.png');
}

#work-8{
    background-image: url('images/lost-in-the-sauce-thumbnail.png');
}

#work-9{
    background-image: url('images/painting-day-thumbnail.png');
}

.article-grid {
    background-color: #614d9f;
    margin: 0 auto;
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5%;
    column-gap: 5%;
    align-content: center;
    margin-bottom: 5%;
}

.article-grid img {
    border-radius: 75px;
}

.popup {
      margin: 70px auto;
      width: 500px;
      position:fixed;
      justify-self: center;
      align-self: center;
      z-index: 999;
      background: transparent;
}
.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.video-window {
    background-color: #c2c5ff;
    border: 3px solid #1a1628;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    height: auto;
    width: 600px;
    padding: 20px 10px;
    display: flex;

    justify-content: center;
    align-items: center;
}
.window-top {
    background-color: #614d9f;
    border: 3px solid #1a1628;
    border-radius: 15px 15px 0px 0px;
    height: 50px;
    width: 600px;
    padding: 0px 10px;
    display: flex;

    justify-content: right;
    align-items: center;
}

.close-btn {
    background-color: #c2c5ff;
    border: 3px solid #1a1628;
    border-radius: 5px;
    width: auto;
    height: auto;
    z-index: 999;
}



h1 {
    text-align: center;
    color: #c2c5ff;
    font-family: 'Titan One';
    font-size: 70px;
}

h2 {
    text-align: center;
    color: #c2c5ff;
    font-family: 'Titan One';
    font-size: 50px;
}

h3 {
    margin-top: 5px;
    color: #c2c5ff;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 30px;
}

p {
    color: #c2c5ff;
    font-family: 'Nunito';
    font-weight: 300;
    font-size: 20px;
}

@media only screen and (max-width: 414px ){
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: local;
        
        height: 120%;
    }
    
    button {
        width: 24%;
        height: 50px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 15px;

        /*text*/
        font-size: 15px;
    }

    button:hover {
        transform: scale(1.1);

        /*text*/
        font-size: 17px;
    }

    .wide-button {
        background-color: #c2c5ff;
        border: solid;
        border-radius: 0;
        border-width: 2px;
        border-color: #1a1628;

        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: left;

        font-size: 50px;
        font-family: 'Nunito';
        font-weight: 600;
    }

    .wide-button:hover {
        transform: scale(1.1);

        border-color: #c2c5ff;
        background-color: #ffffff;

        /*text*/
        color: #614d9f;
        font-family: 'Nunito';
        font-size: 55px;
        font-weight:900;
    }

    .wide-button-O {
        background-color: #cbcbcb;
        border: solid;
        border-radius: 0;
        border-width: 2px;
        border-color: #1a1628;

        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: left;

        font-size: 50px;
        font-family: 'Nunito';
        font-weight: 600;
    }

    .wide-button-O:hover {
        transform: scale(1);
        background-color: #cbcbcb;
        border: solid;
        border-radius: 0;
        border-width: 2px;
        border-color: #1a1628;

        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: left;

        font-size: 50px;
        font-family: 'Nunito';
        font-weight: 600;
    }

    .darkmode-btn {
        border-radius: 75px;
    }

    .contact-button {
        margin: 0;
        border-radius: 0px;
        width: 550px;
        height: 70px;

        background-color: rgba(0,0,0,0);
        background-size: 90%;
        background-position: left;
        background-repeat: no-repeat;
    }

    .contact-button:hover {
        transform: scale(1.2);
        background-color: rgba(0,0,0,0);
    }

    header {
        top: 0;
        margin-top: 0;
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }

    header img {
        max-height: 120px;
        width: auto;
        display: block;
        margin: 0 auto 10px;
    }

    .logo {
        max-height: 240px;
        width: auto;
        display: block;
        margin: 0 auto 10px;
    }

    .title-container {
        margin: auto;
        width: 50%;
        height: 50px;
        border-radius: 75px;
        background-color: #1a1628;
        padding: 5px;

        justify-content: center;
        align-items: center;

        text-align: center;
        color: #c2c5ff;
        font-family: 'Nunito';
        font-weight: 600;
        font-size: 30px;
        line-height: 1.2;
    }

    .button-container {
        display: flex;
        margin: auto;
        width: 90%;
        height: auto;
        padding: 15px;
        justify-content: space-between;
        align-items: center;

        text-align: center;
    }

    .contact-card {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        align-items: flex-end;
        justify-content: flex-end;

        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        width: 120vh;
        height: 60vh;
        padding: 50px;
        border-radius: 65px;
    }

    .container {
        margin: 0 auto;
        display: block;
        width: 80%;
        padding: 50px;
        border-radius: 75px;
        background-color: rgba(26, 22, 40, .7);
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .portfolio-grid {
        margin: 0 auto;
        display: grid;
        width: 98%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 5%;
        column-gap: 5%;
        align-content: center;
        margin-bottom: 5%;
    }

    .portfolio-btn {
        grid-area: unset;
        background-image: unset;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 0px;

        margin: 0px;

        aspect-ratio: 1 / 1;
        width: 95%;
        padding-top: 95%;
    }

    .contact-container {

        background-color: #1a1628;

        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        width: 120vh;
        height: auto;
        padding: 50px;
        border-radius: 65px;
        gap: 20px;
        
    }

    .input-slot {
        width: 50%;
        margin: .5%;
        border-radius: 15px;
        border: #c2c5ff 3px solid;
        outline: none;
        padding: 5px;
        padding-left: 8px;
        

        font-family: 'Nunito';
        font-size: 20px;
        color: #614d9f;
    }

    .input-slot:focus {
        border: 5px solid #614d9f;
    }

    .article-grid {
        background-color: #614d9f;
        margin: 0 auto;
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 5%;
        column-gap: 5%;
        align-content: center;
        margin-bottom: 5%;
    }

    .article-grid img {
        border-radius: 75px;
    }

    .popup {
        margin: 0 auto;
        width: 20%;
        position: fixed;
        left: 50px;
        justify-self: center;
        align-self: center;
    }

    .video-window {
        background-color: #c2c5ff;
        border: 3px solid #1a1628;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        height: auto;
        width: 300px;
        padding: 20px 10px;
        display: flex;

        justify-content: center;
        align-items: center;
    }
    .window-top {
        border-radius: 15px 15px 0px 0px;
        height: 30px;
        width: 300px;
        padding: 0px 10px;
        display: flex;

        justify-content: right;
        align-items: center;
    }

    .close-btn {
        border-radius: 5px;
        width: auto;
        height: auto;
        z-index: 999;
    }

    .videoo {
        width: 280px;
        height: 157.5px;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 30px;
    }

    h3 {
        margin-top: 10px;
        color: #c2c5ff;
        font-family: 'Nunito';
        font-weight: 600;
        font-size: 20px;
    }

    p {
        color: #c2c5ff;
        font-family: 'Nunito';
        font-weight: 300;
        font-size: 20px;
    }
    .title-container {
        width: 98%;
    }

    
}
